In [1]:
from contrans import contrans

In [2]:
ct = contrans()

In [3]:
ct.get_crosswalk()

In [4]:
ct.get_member_info(chamber = 'House', state = 'CA', district = "20")

,bioname,chamber,left_right_ideology,state_abbrev,district_code,icpsr,bioguide_id,party
60,"FONG, Vince",House,0.451,CA,20,22378,F000480,Republican

In [5]:
import pandas as pd
ideology = pd.read_csv('data/ideology.csv')

In [6]:
memberinfo = ct.get_member_info(chamber = 'House', state = 'CA', district = "20")
ct.vote_similarity_to_member(memberinfo)

                  comparison_member     agree
156787                JOHNSON, Mike  0.947368
156711              AMODEI, Mark E.  0.939502
156700                WOMACK, Steve  0.932384
156776                BERGMAN, John  0.932384
156708           FLEISCHMANN, Chuck  0.932384
...                             ...       ...
156702            WILSON, Frederica  0.238434
156691  CONNOLLY, Gerald E. (Gerry)  0.227941
156845              SHERRILL, Mikie  0.174377
157050         WALKINSHAW, James R.  0.157895
156652            GRIJALVA, Raúl M.  0.000000

[442 rows x 2 columns]