In [22]:
from contrans import contrans

In [23]:
ct = contrans()

In [24]:
ct.get_crosswalk()

In [25]:
ct.get_member_info(chamber = 'House', state = 'CA', district = "20")

,bioname,chamber,left_right_ideology,state_abbrev,district_code,icpsr,bioguide_id,party
61,"FONG, Vince",House,0.451,CA,20,22378,F000480,Republican

In [26]:
import pandas as pd
ideology = pd.read_csv('data/ideology.csv')

In [27]:
memberinfo = ct.get_member_info(chamber = 'House', state = 'CA', district = "20")
ct.vote_similarity_to_member(memberinfo)

                  comparison_member     agree
156787                JOHNSON, Mike  0.947368
156711              AMODEI, Mark E.  0.939502
156700                WOMACK, Steve  0.932384
156776                BERGMAN, John  0.932384
156708           FLEISCHMANN, Chuck  0.932384
...                             ...       ...
156702            WILSON, Frederica  0.238434
156691  CONNOLLY, Gerald E. (Gerry)  0.227941
156845              SHERRILL, Mikie  0.174377
157050         WALKINSHAW, James R.  0.157895
156652            GRIJALVA, Raúl M.  0.000000

[442 rows x 2 columns]

In [28]:
cm_header = pd.read_csv('data/cm_header_file.csv')
cm = pd.read_csv('data/cm.txt', sep='|', header = None, names=cm_header.columns)

In [29]:
ind_header = pd.read_csv('data/indiv_header_file.csv')
ind = pd.read_csv('data/itcont.txt', sep='|', header = None, names=ind_header.columns)

/var/folders/l2/ql1ypp8x1217sf5tb_mw1cmh0000gp/T/ipykernel_76866/4237425810.py:2: DtypeWarning: Columns (3,10,15,16,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  ind = pd.read_csv('data/itcont.txt', sep='|', header = None, names=ind_header.columns)

In [33]:
contrib = pd.merge(ind, cm, how='outer', on='CMTE_ID', indicator=True, validate='many_to_one')

In [35]:
contrib.head(5)

,CMTE_ID,AMNDT_IND,RPT_TP,TRANSACTION_PGI,IMAGE_NUM,TRANSACTION_TP,ENTITY_TP,NAME,CITY,STATE,...,CMTE_ST,CMTE_ZIP,CMTE_DSGN,CMTE_TP,CMTE_PTY_AFFILIATION,CMTE_FILING_FREQ,ORG_TP,CONNECTED_ORG_NM,CAND_ID,_merge
0,C00000059,N,M2,P,2.025021e+17,15,IND,"HALL, DAVID EARL",KANSAS CITY,MO,...,MO,64108,B,Q,UNK,M,C,"HALLMARK CARDS, INC.",NaN,both
1,C00000059,N,M2,P,2.025021e+17,15,IND,"HALL, DONALD JOYCE JR",KANSAS CITY,MO,...,MO,64108,B,Q,UNK,M,C,"HALLMARK CARDS, INC.",NaN,both
2,C00000059,N,M4,P,2.025040e+17,15,IND,"HALL, DAVID EARL",KANSAS CITY,MO,...,MO,64108,B,Q,UNK,M,C,"HALLMARK CARDS, INC.",NaN,both
3,C00000059,N,M4,P,2.025040e+17,15,IND,"BAXTER, JENNI",KANSAS CITY,MO,...,MO,64108,B,Q,UNK,M,C,"HALLMARK CARDS, INC.",NaN,both
4,C00000059,N,M4,P,2.025040e+17,15,IND,"PERRY, MICHAEL",KANSAS CITY,MO,...,MO,64108,B,Q,UNK,M,C,"HALLMARK CARDS, INC.",NaN,both

In [36]:
contrib.to_csv('data/contrib.csv', index = False)