In [1]:
import numpy as np
import pandas as pd
import psycopg
from sqlalchemy import create_engine
import dotenv
import os
dotenv.load_dotenv()

True

In [2]:
POSTGRES_PASSWORD = os.getenv('POSTGRES_PASSWORD')

In [3]:
bill_versions = pd.read_csv('../data/thirdNF/bill_versions.csv')
bills = pd.read_csv('../data/thirdNF/bills.csv')
vote_compare = pd.read_csv('../data/thirdNF/vote_compare.csv')
terms = pd.read_csv('../data/thirdNF/terms.csv')
members = pd.read_csv('../data/thirdNF/members.csv')

## Step 1: After docker compose up and loading the data, connect to the Postgres server

In [4]:
dbserver = psycopg.connect(
    host="localhost",
    port="5432",
    user="postgres",
    password=POSTGRES_PASSWORD
    )

dbserver.autocommit = True

## Step 3: Create a connection to the new empty databasse using a convenience tool called SQLAlchemy

In [5]:
dbms = 'postgresql'
package = 'psycopg'
user = 'postgres'
password = POSTGRES_PASSWORD
host = 'localhost'
port = '5432'
db = 'contrans'

engine = create_engine(f"{dbms}+{package}://{user}:{password}@{host}:{port}/{db}")
engine

Engine(postgresql+psycopg://postgres:***@localhost:5432/contrans)

## Create an empty contrans dataframe on the server

In [6]:
cursor = dbserver.cursor()

try:
    cursor.execute("CREATE DATABASE contrans")

except:
    cursor.execute('DROP DATABASE contrans')
    cursor.execute("CREATE DATABASE contrans")

## Step 4: Upload the data to our new postgres contrans DB

In [7]:
bills.columns = [x.lower() for x in bills.columns]
terms.columns = [x.lower() for x in terms.columns]
members.columns = [x.lower() for x in members.columns]
bill_versions.columns = [x.lower() for x in bill_versions.columns]
vote_compare.columns = [x.lower() for x in vote_compare.columns]

bills.to_sql('bills', con=engine, if_exists='replace', index=False, chunksize=1000)
terms.to_sql('terms', con=engine, if_exists='replace', index=False, chunksize=1000)
members.to_sql('members', con=engine, if_exists='replace', index=False, chunksize=1000)
bill_versions.to_sql('bill_versions', con=engine, if_exists='replace', index=False, chunksize=1000)
vote_compare.to_sql('vote_compare', con=engine, if_exists='replace', index=False, chunksize=1000)

-207

The previous 4 steps are things you do one time -- to build the database. 

Next are steps you do EACH time to query the database.

#### Step 1: Docker Compose Up

#### Step 2: Build the SQLAlchemy engine

#### Step 3: Use pd.read_sql_query() to issue SQL queries

In [8]:
myquery = '''
SELECT *
FROM members
'''

pd.read_sql(myquery, con=engine)

,bioguide_id,full_name,birthyear,image,office_address,phone,website,fec_id,bioname,chamber,left_right_ideology,state_abbrev,district_code,icpsr,party
0,A000055,Robert B. Aderholt,1965.0,https://www.congress.gov/img/member/a000055_20...,"272 Cannon House Office Building, Washington, ...",(202) 225-4876,https://aderholt.house.gov/,H6AL04098,"ADERHOLT, Robert",House,0.405,AL,4,29701,Republican
1,A000148,Jake Auchincloss,1988.0,https://www.congress.gov/img/member/67817e391f...,"1524 Longworth House Office Building, Washingt...",(202) 225-5931,https://auchincloss.house.gov,H0MA04192,"AUCHINCLOSS, Jake",House,-0.288,MA,4,22100,Democrat
2,A000369,Mark E. Amodei,1958.0,https://www.congress.gov/img/member/a000369_20...,"104 Cannon House Office Building, Washington, ...",(202) 225-6155,https://amodei.house.gov,H2NV02395,"AMODEI, Mark E.",House,0.384,NV,2,21196,Republican
3,A000370,Alma S. Adams,1946.0,https://www.congress.gov/img/member/a000370_20...,"2436 Rayburn House Office Building, Washington...",(202) 225-1510,https://adams.house.gov,H4NC12100,"ADAMS, Alma",House,-0.462,NC,12,21545,Democrat
4,A000371,Pete Aguilar,1979.0,https://www.congress.gov/img/member/a000371_20...,"108 Cannon House Office Building, Washington, ...",(202) 225-3201,https://aguilar.house.gov/,H2CA31125,"AGUILAR, Peter Rey",House,-0.324,CA,33,21506,Democrat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,W000830,George Whitesides,1974.0,https://www.congress.gov/img/member/68dc43db19...,"1504 Longworth House Office Building, Washingt...",(202) 225-1956,https://whitesides.house.gov/,H4CA27111,"WHITESIDES, George",House,-0.189,CA,27,22559,Democrat
541,W000831,James R. Walkinshaw,1982.0,https://www.congress.gov/img/member/68c1bd4ca9...,"2265 Rayburn House Office Building, Washington...",(202) 225-1492,https://walkinshaw.house.gov/,H6VA11066,"WALKINSHAW, James R.",House,-0.503,VA,11,22564,Democrat
542,Y000064,Todd Young,1972.0,https://www.congress.gov/img/member/y000064_20...,185 Dirksen Senate Office Building Washington...,(202) 224-5623,https://www.young.senate.gov,S0IN00194,"YOUNG, Todd",Senate,0.438,IN,0,21133,Republican
543,Y000067,Rudy Yakym III,1984.0,https://www.congress.gov/img/member/y000067_20...,"349 Cannon House Office Building, Washington, ...",(202) 225-3915,https://yakym.house.gov,H2IN02295,"YAKYM, Rudy, III",House,0.513,IN,2,22171,Republican
544,Z000018,Ryan K. Zinke,1961.0,https://www.congress.gov/img/member/117_rp_mt_...,"512 Cannon House Office Building, Washington, ...",(202) 225-5628,https://zinke.house.gov,H4MT01041,"ZINKE, Ryan",House,0.438,MT,1,21532,Republican

SQL: Structured Query Language

"Sequel", "Essqueueell" -- acceptable
"Squall" "Squirrel" -- not usually acceptable

Clauses: functions for data manipulation

* SELECT: keeping only certain columns

* FROM: load data from a particular table in the database

* AS: renaming a column on the fly

In [9]:
myquery = '''
SELECT bioguide_id AS congressmember,
        congress AS wtf,
        statecode AS state,
        district AS dist
FROM terms
'''

pd.read_sql(myquery, con=engine)

     congressmember  wtf state  dist
0           R000575  108    AL   3.0
1           R000575  109    AL   3.0
2           R000575  110    AL   3.0
3           R000575  111    AL   3.0
4           R000575  112    AL   3.0
...             ...  ...   ...   ...
3252        B001261  115    WY   NaN
3253        B001261  116    WY   NaN
3254        B001261  117    WY   NaN
3255        B001261  118    WY   NaN
3256        B001261  119    WY   NaN

[3257 rows x 4 columns]

SQL Etiquette:

The following query WORKS but is considered bad etiquette:

In [10]:
myquery = '''select bioguide_id as congressmember, congress as wtf, statecode as state, district as dist from terms'''

pd.read_sql(myquery, con=engine)

     congressmember  wtf state  dist
0           R000575  108    AL   3.0
1           R000575  109    AL   3.0
2           R000575  110    AL   3.0
3           R000575  111    AL   3.0
4           R000575  112    AL   3.0
...             ...  ...   ...   ...
3252        B001261  115    WY   NaN
3253        B001261  116    WY   NaN
3254        B001261  117    WY   NaN
3255        B001261  118    WY   NaN
3256        B001261  119    WY   NaN

[3257 rows x 4 columns]

The purpose of etiquette rules is to make your SQL easier for someone else (and yourself) to read and understand. You can break these rules and get the same result, but will annoy people who are working with you.

Rules:
1. Clauses in ALL CAPS
2. Column names and table names in lowercase
3. Every clause on a new line, with some exceptions such as AS
4. If a clause is considered to be part of a prior one (such as ON is part of JOIN), it is placed on a new line, but with a tab



* WHERE: keeping only rows where a given logical statement is true

In [11]:
myquery = '''
SELECT *
From members
WHERE state_abbrev = 'VA'
'''
pd.read_sql(myquery, con=engine)

,bioguide_id,full_name,birthyear,image,office_address,phone,website,fec_id,bioname,chamber,left_right_ideology,state_abbrev,district_code,icpsr,party
0,B001292,"Donald S. Beyer, Jr.",1950.0,https://www.congress.gov/img/member/b001292_20...,"1226 Longworth House Office Building, Washingt...",(202) 225-4376,https://beyer.house.gov,H4VA08224,"BEYER, Donald Sternoff Jr.",House,-0.395,VA,8,21554,Democrat
1,C001078,Gerald E. Connolly,1950.0,https://www.congress.gov/img/member/c001078_20...,None,None,None,H8VA11062,"CONNOLLY, Gerald E. (Gerry)",House,-0.309,VA,11,20952,Democrat
2,C001118,Ben Cline,1972.0,https://www.congress.gov/img/member/c001118_20...,"2443 Rayburn House Office Building, Washington...",(202) 225-5431,https://cline.house.gov,H8VA06104,"CLINE, Benjamin",House,0.716,VA,6,21908,Republican
3,G000568,H. Morgan Griffith,1958.0,https://www.congress.gov/img/member/68094df86c...,"2110 Rayburn House Office Building, Washington...",(202) 225-3861,https://morgangriffith.house.gov/,H0VA09055,"GRIFFITH, H. Morgan",House,0.510,VA,9,21191,Republican
4,K000384,Tim Kaine,1958.0,https://www.congress.gov/img/member/k000384_20...,231 Russell Senate Office Building Washington...,(202) 224-4024,https://www.kaine.senate.gov/,S2VA00142,"KAINE, Timothy Michael (Tim)",Senate,-0.243,VA,0,41305,Democrat
5,K000399,Jennifer A. Kiggans,1971.0,https://www.congress.gov/img/member/66b0ce45b0...,"152 Cannon House Office Building, Washington, ...",(202) 225-4215,https://kiggans.house.gov,H2VA02064,"KIGGANS, Jennifer",House,0.260,VA,2,22335,Republican
6,M001227,Jennifer L. McClellan,1972.0,https://www.congress.gov/img/member/m001227_20...,"1628 Longworth House Office Building, Washingt...",(202) 225-6365,https://mcclellan.house.gov/,H4VA04066,"MCCLELLAN, Jennifer",House,-0.550,VA,4,22374,Democrat
7,M001239,John J. McGuire III,1968.0,https://www.congress.gov/img/member/67744ba20b...,"1013 Longworth House Office Building, Washingt...",(202) 225-4711,https://mcguire.house.gov/,H0VA07133,"MCGUIRE, John J., III",House,0.673,VA,5,22539,Republican
8,S000185,"Robert C. ""Bobby"" Scott",1947.0,https://www.congress.gov/img/member/s000185_20...,"2328 Rayburn House Office Building, Washington...",(202) 225-8351,https://bobbyscott.house.gov,H6VA01117,"SCOTT, Robert C.",House,-0.450,VA,3,39307,Democrat
9,S001230,Suhas Subramanyam,1986.0,https://www.congress.gov/img/member/6797be8bc7...,"1009 Longworth House Office Building, Washingt...",(202) 225-5136,https://subramanyam.house.gov/,H4VA10279,"SUBRAMANYAM, Suhas",House,-0.301,VA,10,22554,Democrat
10,V000138,Eugene Simon Vindman,1975.0,https://www.congress.gov/img/member/6774617a0b...,"1005 Longworth House Office Building, Washingt...",(202) 225-2815,https://vindman.house.gov/,H4VA07234,"VINDMAN, Eugene Simon",House,-0.168,VA,7,22558,Democrat
11,W000804,Robert J. Wittman,1959.0,https://www.congress.gov/img/member/w000804_20...,"2055 Rayburn House Office Building, Washington...",(202) 225-4261,https://wittman.house.gov/,H8VA01147,"WITTMAN, Robert J.",House,0.448,VA,1,20756,Republican
12,W000805,Mark R. Warner,1954.0,https://www.congress.gov/img/member/w000805_20...,"703 Hart Senate Office Building Washington, D...",(202) 224-2023,https://www.warner.senate.gov,S8VA00107,"WARNER, Mark",Senate,-0.208,VA,0,40909,Democrat
13,W000831,James R. Walkinshaw,1982.0,https://www.congress.gov/img/member/68c1bd4ca9...,"2265 Rayburn House Office Building, Washington...",(202) 225-1492,https://walkinshaw.house.gov/,H6VA11066,"WALKINSHAW, James R.",House,-0.503,VA,11,22564,Democrat

In [17]:
myquery = '''
SELECT *
From terms
WHERE (congress >= 110 AND congress <= 112)
    OR statecode = 'VA'
'''
pd.read_sql(myquery, con=engine)

,bioguide_id,chamber,congress,statecode,startyear,endyear,district
0,R000575,House of Representatives,110,AL,2007,2009,3.0
1,R000575,House of Representatives,111,AL,2009,2011,3.0
2,R000575,House of Representatives,112,AL,2011,2013,3.0
3,S001185,House of Representatives,112,AL,2011,2013,7.0
4,A000055,House of Representatives,110,AL,2007,2009,4.0
...,...,...,...,...,...,...,...
439,L000571,House of Representatives,111,WY,2009,2011,NaN
440,L000571,House of Representatives,112,WY,2011,2013,NaN
441,B001261,Senate,110,WY,2007,2009,NaN
442,B001261,Senate,111,WY,2009,2011,NaN
443,B001261,Senate,112,WY,2011,2013,NaN


* GROUP BY: aggregate data to one row per unique of the groupby column(s)

In [26]:
myquery = """
SELECT state_abbrev, 
    AVG(Left_right_ideology) as average_ideology
FROM members
GROUP BY state_abbrev
ORDER BY average_ideology ASC
"""

pd.read_sql_query(myquery, con=engine)

   state_abbrev  average_ideology
0            DC         -0.491000
1            VI         -0.474000
2            VT         -0.467667
3            PR         -0.463000
4            MA         -0.430182
5            HI         -0.409500
6            RI         -0.375750
7            NM         -0.370600
8            CT         -0.348143
9            DE         -0.290333
10           MD         -0.283600
11           NJ         -0.263857
12           CA         -0.259222
13           IL         -0.251789
14           WA         -0.244667
15           OR         -0.241625
16           NH         -0.234250
17           NY         -0.200964
18           NV         -0.182833
19           ME         -0.143250
20           VA         -0.037143
21           MN         -0.001200
22           CO          0.000900
23           MI          0.049467
24           PA          0.093895
25           AZ          0.160091
26           MP          0.164000
27           GA          0.215000
28           WI          0.222500
29           TX          0.275700
30           LA          0.279125
31           OH          0.294000
32           FL          0.306219
33           AS          0.326000
34           MS          0.336167
35           NC          0.360625
36           IN          0.375818
37           AL          0.377556
38           GU          0.390000
39           IA          0.391333
40           KY          0.412375
41           MO          0.415000
42           SD          0.416667
43           NE          0.428400
44           AK          0.437667
45           SC          0.464111
46           AR          0.465833
47           ND          0.470333
48           KS          0.471667
49           ID          0.500000
50           OK          0.536714
51           TN          0.539545
52           UT          0.563833
53           WV          0.566000
54           WY          0.625000
55           MT          0.637750


* Having: like WHERE but filtering rows after aggregation

In [28]:
myquery = """
SELECT state_abbrev, 
    AVG(Left_right_ideology) as average_ideology
FROM members
WHERE Party = 'Democrat'
GROUP BY state_abbrev
ORDER BY average_ideology ASC
"""

pd.read_sql_query(myquery, con=engine)

   state_abbrev  average_ideology
0            MS         -0.519000
1            WI         -0.511333
2            MO         -0.510000
3            KY         -0.500000
4            DC         -0.491000
5            LA         -0.483500
6            VI         -0.474000
7            TX         -0.469769
8            SC         -0.467000
9            PR         -0.463000
10           MA         -0.430182
11           VT         -0.429500
12           AL         -0.416500
13           HI         -0.409500
14           NJ         -0.405364
15           IL         -0.402125
16           AZ         -0.399400
17           NC         -0.398500
18           FL         -0.398000
19           GA         -0.393286
20           CA         -0.390067
21           MD         -0.390000
22           TN         -0.390000
23           RI         -0.375750
24           WA         -0.374200
25           NY         -0.373476
26           IN         -0.372000
27           NM         -0.370600
28           PA         -0.357250
29           OH         -0.356800
30           CT         -0.348143
31           VA         -0.347444
32           CO         -0.347167
33           OR         -0.343857
34           MN         -0.324833
35           MI         -0.316875
36           NV         -0.296200
37           DE         -0.290333
38           KS         -0.266000
39           ME         -0.263500
40           NH         -0.234250

In [33]:
myquery = '''
SELECT bill_type,
    count(*) as count
FROM bills
GROUP BY bill_type
    HAVING bill_type LIKE 'S%%'
'''
pd.read_sql(myquery, con=engine)

  bill_type  count
0     SJRES     48
1   SCONRES      9
2      SRES    101
3         S    661

In [34]:
myquery = """
SELECT state_abbrev, 
    AVG(Left_right_ideology) as average_ideology
FROM members
WHERE Party = 'Democrat'
GROUP BY state_abbrev
    HAVING AVG(Left_right_ideology) < -.25
ORDER BY average_ideology ASC
"""

pd.read_sql_query(myquery, con=engine)

   state_abbrev  average_ideology
0            MS         -0.519000
1            WI         -0.511333
2            MO         -0.510000
3            KY         -0.500000
4            DC         -0.491000
5            LA         -0.483500
6            VI         -0.474000
7            TX         -0.469769
8            SC         -0.467000
9            PR         -0.463000
10           MA         -0.430182
11           VT         -0.429500
12           AL         -0.416500
13           HI         -0.409500
14           NJ         -0.405364
15           IL         -0.402125
16           AZ         -0.399400
17           NC         -0.398500
18           FL         -0.398000
19           GA         -0.393286
20           CA         -0.390067
21           MD         -0.390000
22           TN         -0.390000
23           RI         -0.375750
24           WA         -0.374200
25           NY         -0.373476
26           IN         -0.372000
27           NM         -0.370600
28           PA         -0.357250
29           OH         -0.356800
30           CT         -0.348143
31           VA         -0.347444
32           CO         -0.347167
33           OR         -0.343857
34           MN         -0.324833
35           MI         -0.316875
36           NV         -0.296200
37           DE         -0.290333
38           KS         -0.266000
39           ME         -0.263500


* ORDER BY: sort, DESC in decreasing order

* LIMIT num: only the first number rows (head())

In [38]:
myquery = """
SELECT state_abbrev, 
    AVG(Left_right_ideology) as average_ideology
FROM members
WHERE Party = 'Democrat'
GROUP BY state_abbrev
    HAVING AVG(Left_right_ideology) < -.25
ORDER BY average_ideology ASC
LIMIT 10 OFFSET 5
"""

pd.read_sql_query(myquery, con=engine)

  state_abbrev  average_ideology
0           LA         -0.483500
1           VI         -0.474000
2           TX         -0.469769
3           SC         -0.467000
4           PR         -0.463000
5           MA         -0.430182
6           VT         -0.429500
7           AL         -0.416500
8           HI         -0.409500
9           NJ         -0.405364



* JOIN: merges

In [ ]:
# Who has the most terms?

myquery = '''
SELECT 
    m.full_name,
    m.state_abbrev,
    COUNT(*) as tenure
FROM members m
INNER JOIN terms t
    ON m.bioguide_id = t.bioguide_id
GROUP BY m.bioguide_id, m.full_name, m.state_abbrev
ORDER BY tenure DESC
'''

pd.read_sql(myquery, con=engine)

                full_name state_abbrev  tenure
0          Chuck Grassley           IA      26
1        Edward J. Markey           MA      26
2               Ron Wyden           OR      24
3           Harold Rogers           KY      23
4    Christopher H. Smith           NJ      23
..                    ...          ...     ...
540        Laura Friedman           CA       1
541  Pablo José Hernández           PR       1
542  Eugene Simon Vindman           VA       1
543        Lateefah Simon           CA       1
544         Emily Randall           WA       1

[545 rows x 3 columns]

In [42]:
# Who has more terms? Democrats or Republicans?

myquery = '''
SELECT 
    m.party,
    COUNT(*) as tenure
FROM members m
INNER JOIN terms t
    ON m.bioguide_id = t.bioguide_id
GROUP BY m.party
ORDER BY tenure DESC
'''

pd.read_sql(myquery, con=engine)

         party  tenure
0     Democrat    1742
1   Republican    1490
2  Independent      25

* Subqueries